node_modules
elm-stuff
.DS_Store
.idea

# Guida
guida-stuff

# Main
lib/guida.js
lib/guida.min.js

# Build outputs
build-xhr/bin/
build-xhr/elm-stuff/
build-kernel/bin/
build-kernel/elm-stuff/

# Try
try/public/app.js

# Assets
assets/some-application/index.html

# Examples
examples/index.html
.coverage/
eco-stuff/
